.footer {
  margin: 30px 30px;
  padding: 20px 20px;
  display: flex;
  background-color: rgb(231, 227, 227);
}
.left_content {
  width: 30%;
}

.right_content {
  width: 70%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-size: 18px;
  color: rgb(53, 48, 48);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left_content {
    width: 100%;
  }

  .right_content {
    width: 100%;
    margin-top: 20px;
  }

  .right_content > div {
    margin: 10px;
  }

  .icons ul {
    flex-direction: row;
  }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  h2 {
    font-size: 16px;
  }

  ul {
    margin-top: 5px;
  }

  li {
    margin-bottom: 5px;
  }
}
